.item-area{
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-around;
  grid-gap: 20px;
  p{
    margin-bottom: 0;
  }
}
.cartListItem{
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: all .25s ease-in;
  p{
    padding: 10px;
    margin: 0;
  }
}
.cartListItem:hover{
  background: rgb(153, 192, 236);
}
.ant-drawer-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between
}